version: "3"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins

    ports:
      - "8080:8080"    # Jenkins Web UI
      - "50000:50000"  # Agent port

    deploy:
      resources:
        limits:
          memory: 1g
        reservations:
          memory: 512m

    volumes:
      - jenkins_home:/var/jenkins_home  # Persistent data

    restart: unless-stopped

    dns:
      - 8.8.8.8

volumes:
  jenkins_home: